.list-of-products {


  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-weight: 400;
      font-size: 40px;
      line-height: 64px;

      color: #36CC60;
    }
    .subtitle {
      font-weight: 400;
      font-size: 60px;
      line-height: 76px;
      margin-top: 37px;

      color: #2A2521;
    }
  }

  .products {
    margin-top: 70px;

    display: flex;
    flex-wrap: wrap;

    width: 100%;

    .product {
      margin: 20px 45px;
      position: relative;
      width: 375px;
      height: 810px;
      border-radius: 40px;







      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;

      background: #FFF5F1;
      box-shadow: 19px 15px 1px rgb(56 203 0 / 40%);


      &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 57px;
        color: white;
      }

      &__description {
        color: white;
        font-weight: 300;
        font-size: 20px;
        line-height: 38px;
      }

      &__buy {
        font-weight: 700;
        font-size: 45px;
        line-height: 57px;
        flex-direction: column;

        margin-top: 30px;

        color: #36CC60;

        margin-bottom: 40px;

        display: flex;
        align-items: center;

        .product__add {
          width: 35px;
          height: 35px;
          font-size: 16px;



          border-radius: 100%;
        }
      }


    }
  }
}
